#stylelogin.css
  .btn-login{
      color:white
      margin-top:60px;
      boder-radius:10px;)

      .form-control-login{
          width :100½
          height :35px;
          font - size :14px;
          background - color:
          border - radius: 5px;
      }
